In [2]:
import pandas as pd

In [5]:
df=pd.read_json('hungary_county_centers.json')

In [7]:
df.head(2)

          name                            center
0  Bács-Kiskun  {'lat': 46.5667, 'lon': 19.4167}
1      Baranya  {'lat': 46.0667, 'lon': 18.2333}

In [9]:
# Split the 'center' column into separate 'lat' and 'lon' columns
df['lat'] = df['center'].apply(lambda x: x['lat'])
df['lon'] = df['center'].apply(lambda x: x['lon'])

# Drop the original 'center' column
df = df.drop('center', axis=1)

In [11]:
df.to_csv('hungary_county_centers.csv', index=False)